{% extends "base.html" %}
{% load static%}

{% block body %}
<main class="main" style="background-color: #f0f8ff;">

  <!-- Page Title -->

    <div class="container position-relative" style="display:flex;width: 300px; justify-content:center;  align-items:center; margin-top:20px;  background-color: lightblue;  border: 2px solid #333;
  border-radius: 12px;">
    <h1>Current course</h1>


    </div>
  <!-- End Page Title -->

  <!-- Blog Posts Section -->
  <section id="blog-posts" class="blog-posts section">

    <div class="container">
      <div class="row gy-4 justify-content-center">

        <div class="col-lg-8">
          <article style="min-height: 400px; display: flex; flex-direction: column;">

            <div class="post-img">
              <img src="{{ courses.imag.url }}" alt="" class="img-fluid w-100">
            </div>

            <p class="post-category mt-3">{{ courses.name }}</p>

            <h2 class="title">
              <a href="blog-details.html">{{ courses.description }}</a>
            </h2>

            <div class="d-flex align-items-center mb-4 mt-3">
              <img src="{%static 'assets/img/hero5.jfif ' %} " alt=""
                class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta ms-2">
                <p class="post-author mb-0">{{courses.techers}} </p>
                <p class="post-date mb-0">
                  <time datetime="2022-01-01">{{courses.date}}</time>
                </p>
              </div>
            </div>

            <div class="d-flex justify-content-between mt-auto">
              <button class="btn btn-primary btn-lg px-4">Buy</button>
              <button class="btn btn-success btn-lg px-4"><a href="{% url 'detail' %}" style="text-decoration: none; color: white;">Detail</a> </button>
            </div>

          </article>
        </div><!-- End post list item -->



        <!-- End post list item -->

      </div>
    </div>

  </section><!-- /Blog Posts Section -->

  <!-- Blog Pagination Section -->
  <section id="blog-pagination" class="blog-pagination section">

    <div class="container">
      <div class="d-flex justify-content-center">
        <ul>
          <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
          <li><a href="#">1</a></li>
          <li><a href="#" class="active">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li>...</li>
          <li><a href="#">10</a></li>
          <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
        </ul>
      </div>
    </div>

  </section><!-- /Blog Pagination Section -->

</main>
{% endblock body %}

